/* pop-up box */

:root {
  --FLEX-PADDING: 5px;
  --FONT-SIZE: 15px;
  --SPACE-BETWEEN-SECTIONS: 10px;
  --BUTTON-HEIGHT: 30px;
  --SQUARE-BUTTON-WIDTH: 30px;
}

/* TODO
 * Input source config height must be equal to the buttons height.
 * Trash image (in source config) is not centered.
 */

html,
body {
  width: 310px;
  background-color: white;
  overflow-x: hidden; /* no x-axis scroll */
}

body {
  margin: 15px;
}

button,
input,
label,
legend,
p,
textarea {
  font-size: var(--FONT-SIZE);
}

/* https://stackoverflow.com/questions/271067/how-can-i-make-a-textarea-100-width-without-overflowing-when-padding-is-present */
textarea {
  box-sizing: border-box;
  width: 100%;
}

.section {
  margin-top: var(--SPACE-BETWEEN-SECTIONS);
}

.oneLineButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--FLEX-PADDING);
}

.button,
.mainMenuButton {
  width: 100%;
  text-align: center;
  cursor: pointer;
  background-color: #e5f2f2;
}
.button:hover,
.mainMenuButton:hover {
  background-color: #cff2f2;
}
.mainMenuButton {
  height: 40px;
}
/* TODO refactor extract common code with mainMenuButton */
.button {
  padding: 4px; /* padding area on all four sides of an element */
}

/* Toggle Switch */
/* https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_switch */
.switch {
  position: relative;
  display: inline-block;
  width: 35px;
  height: 11px;
  left: 0px;
}
.switch input {
  display: none;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s; /* speed */
  transition: 0.4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 6px;
  width: 6px;
  left: 4px;
  bottom: 2.5px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
input:checked + .slider {
  background-color: #2196f3;
}
input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}
input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}

/* other */

.hidden {
  display: none;
}

.backgroundGrey {
  background: rgb(240, 240, 240);
}

p {
  margin: 0;
}

/* flex-shrink: to respect width https://stackoverflow.com/questions/21406397/width-ignored-on-flexbox-items */
/* TODO remove flex-shrink if not required */
.squareButton {
  height: var(--BUTTON-HEIGHT);
  width: var(--SQUARE-BUTTON-WIDTH);
  flex-shrink: 0;
}

.sourceConfig {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

#menuConfig {
  padding: 10px;
}

#infoTags p {
  margin-top: 10px;
  margin-bottom: 10px;
}
