html, body {
  width: 250px;
  background-color: white;
}

.hidden {
  display: none;
}

.button {
  text-align: center;
  margin: 4% auto; /* upper and lower space */
  padding: 4px; /* padding area on all four sides of an element */
  cursor: pointer;
  background-color: #E5F2F2;
}
.button:hover {
  background-color: #CFF2F2;
}